body {
    background-color: #ffc1d1;
    font-family: lucida;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: rgb(128, 26, 26);
    text-align: center;
}

h2 {
    color: #ba385f;
}

hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid #fcfbfb;
  margin: 1em 0;
  padding: 0;
}

img {
    align: center;
    width: 250px;
}
