body {
    background-color: #ffc1d1;
    font-family: lucida;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: rgb(128, 26, 26);
    text-align: center;
}

h2 {
    color: #ba385f;
}

/* Dashed white border */
hr.new2 {
  border-top: 1px dashed white;
}

img {
    width: 250px;
}
