body {
    background-color: #ffc1d1;
    font-family: lucida;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: rgb(128, 26, 26);
    text-align: center;
}

h2 {
    color: #ba385f;
}

hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid #fcfbfb;
  margin: 1em 0;
  padding: 0;
}

<img src="https://i.pinimg.com/originals/e3/8d/81/e38d817240bda953f9c153eaca71c46e.jpg" class=".left">
<img src="https://i.pinimg.com/736x/1a/0a/d5/1a0ad58944795ec4983ef0378d92e5e1.jpg" class=".right">
<img src="https://i.pinimg.com/736x/1a/0a/d5/1a0ad58944795ec4983ef0378d92e5e1.jpg" class=".leftt">

img {
    width: 250px;
}
